#nav1{
    height:45vh;
    width: 100%;
    background-color: #00B9F1;
    padding-top: 30px;
    padding-left: 30px;
    
}
#recharge{
    padding-left: 70px;
    color:oldlace;
}
img{ 
    width: 70px;
}
#box1{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 80px;
}
#box1 div{
  margin-right: 55px;
  /* border: 1px solid wheat; */
}
 #p1{
    line-height:1px;
    color: beige;
} 
i{
    margin-left: 4px;
    font-size: 13px;
  }
  
  #nav2{
    height:45vh;
    width: 100%;
    background-color: #0054f1;
    padding-top: 30px;
    padding-left: 30px;
  }  
  #book{
     padding-left: 70px;
    color:oldlace;
  }
  #box2{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    gap: 100px;
    margin-left: 90px;
  }
  .p2{
     /* padding-left: 100px;  */
    line-height:6px;
    color: beige;
     width: 100px; 
  }

  .Cover:hover{
    background-color: brown;
    border-radius: 30px;
  }
  image{
    padding-left: 75px;
  }


  